@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Sniglet:wght@400;800&family=Space+Mono:wght@700&display=swap");

$font-primary: "Mochiy Pop One";
$font-secondary: "Sniglet";
$bg-primary: blue;

//noodles import
@import "noodles";
