@use "./variables" as *;
@use "./fonts" as *;

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
span {
  font-family: $font-primary;
  text-decoration: none;
  color: $black;
}

h1 {
  border: 0;
  margin-bottom: $base-margin;
}
